{% extends "::base.html.twig" %}

{% block title %}Hello{% endblock title %}

{% block body %}

    <div id="wrap" class="col-sm-12 blog-main">
        {% block content %}{% endblock content %}
    </div>

{% endblock body %}
