{% extends '::base.html.twig' %}

{% block title %}Hello{% endblock title %}

{% block body %}

        <div id="wrap" class="col-sm-8 blog-main">

            {% block fos_user_content %}

            {% endblock fos_user_content %}
        </div>
{% endblock %}