{% extends "AhonymousGuestBundle::main.html.twig" %}

{% block content %}
    <div class="container">

        <div>
            <h1>Bootstrap starter template</h1>
            <p class="lead">Hello {{ name }}!</p>
        </div>

    </div>

{% endblock content %}
