{% extends 'AhonymousBlogBundle::main.html.twig' %}

{% block title %}{{ article.name }}{% endblock title %}

{% block content -%}
    <div class="blog-post">
        <h1 class="blog-title">{{ article.name }}</h1>

        <p class="blog-post-body">
            {{ article.body|nl2p("blog-post-body")|raw }}
        </p>

        <hr>
        <p class="blog-post-meta">
            <a href="{{ path('home') }}" >
                Back to the list
            </a>
        </p>
    </div>
{% endblock %}
